
                <ul class='people_list'>
                     {{#each users}}
                    <li>{{this._id}}</li>
                    <li>{{this.name}}</li>
                    <li>{{this.phone}}</li>
                    <li>{{this.userName}}</li>
                    <li>{{this.passWord}}</li>
                     {{/each}}
                      
                </ul>
               
              
               
