
 <div class="row" style="height:550px">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="margin:0px;padding:0px;">
                          <form action="question" method="POST">
                            {{#each questions}}
                            <div class="row card ques-box" style="border: 0px;">
                                <div class="answer" style="padding-left: 20px;">
                                    <label for="" style="font-size: 20px;color: blue;text-align: center;">Question  : {{this.title}}</label>
                                      <div class="form-check" style="padding-left: 50px;font-size: 20px;">

                                        <input class="form-check-input" type="checkbox" value="A" id="A" name="{{this._id}}" >
                                        <label class="form-check-label" for="A">
                                          A: {{this.A}}
                                        </label>
                                      </div>

                                      <div class="form-check" style="padding-left: 50px;font-size: 20px;">
                                        <input class="form-check-input" type="checkbox" value="B" id="B" name="{{this._id}}">
                                        <label class="form-check-label" for="B">
                                          B : {{this.B}}
                                        </label>
                                      </div>

                                      <div class="form-check" style="padding-left: 50px;font-size: 20px;">
                                        <input class="form-check-input" type="checkbox" value="C" id="C" name="{{this._id}}">
                                        <label class="form-check-label" for="C" >
                                          C : {{this.C}}
                                        </label>
                                      </div>

                                      <div class="form-check" style="padding-left: 50px;font-size: 20px;">
                                        <input class="form-check-input" type="checkbox" value="D" id="D" name="{{this._id}}">
                                        <label class="form-check-label" for="D">
                                          D : {{this.D}}
                                        </label>
                                      </div>

                                </div>
                            </div> 
                            {{/each}}
                            {{#if page}}
                            <button type="submit" class="btn btn-success btn-lg mb-1 buttonS" style="margin-top:20px;">Next</button>
                            {{/if}}
                        </form>
        {{#if err}}
          <h1 style="color: red;">{{err}}</h1>
         
          {{/if}}
</div>

<div class="col-md-2">
  {{#if page}}
  <h1 style="color=red;">Ratio: {{page}} / {{total}}</h1>
  {{else}}
  <a> <button type="button" class="btn btn-success btn-lg mb-1 buttonS" style="margin-top:20px;">Review survey</button></a>
  {{/if}}
</div>
 </div>

