
 <div class="row" style="height:550px"> 
            <div class="col-md-2"></div>
            <div class="col-md-8" style="margin:0px;padding:0px;">
                             <form action="" method="">
                            {{#each questions}}
                            <div class="row card ques-box" style="border: 0px;">
                                <div class="answer" style="padding-left: 20px;">
                                    <label for="" style="font-size: 20px;color: blue;text-align: center;">Question : {{this.title}}</label>

                                      <div class="form-check" style="padding-left: 50px;font-size: 20px;">
                                        
                                        <label class="form-check-label"  id="A" >
                                          A: {{this.A}}
                                        </label>
                                      </div>
                                      <div class="form-check" style="padding-left: 50px;font-size: 20px;">
                                       
                                        <label class="form-check-label"  id='B'>
                                          B : {{this.B}}
                                        </label>
                                        
                                      </div>
                                      <div class="form-check" style="padding-left: 50px;font-size: 20px;">
                                        
                                        <label class="form-check-label"  id='C'>
                                          C : {{this.C}}
                                        </label>
                                      </div>
                                      <div class="form-check" style="padding-left: 50px;font-size: 20px;">
                                       
                                        <label class="form-check-label" for="" id='D'>
                                          D : {{this.D}}
                                          
                                        </label>
                                        
                                        <style>
                            
                                           {{setanswer this.answer this.select}}
                                        </style>
                                       
                                      </div>
                                </div>
                               
                                </div>
                          
                            {{/each}}
                        </form>
                         
                        {{#if urlback}}
                                <a href="{{urlback}}">
                                <button type="" class="btn btn-success btn-lg mb-1 buttonS" style="margin-top:20px;" >Back</button>
                                </a>
                        {{/if}}
                        {{#if urlnext}}
                                <a href="{{urlnext}}">
                                <button type="submit" class="btn btn-success btn-lg mb-1 buttonS" style="margin-top:20px;margin-left:100px;">Next</button>
                                </a>
                        {{/if}}
                        
                </div>

<div class="col-md-2">
</div>
</div>
