<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container h-100 ques-container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-7">
                <div class="card rounded-3">
                    <img src="../image/nha-alpha.jpg" class="w-100"
                        style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
                    <div class="card-body p-4 p-md-12">
                        <form action="submitAnswer" method="POST">
                            {{#each questions}}
                            <div class="row card ques-box">
                                <h3 class="mb-2 pb-2 pb-md-0 px-md-0">{{this.Question}}</h3>
                                <div class="answer">
                                    <input type="radio" name="{{this.QuesID}}" value="1" required>
                                    <label class="radio-label" for="">{{this.Option1}}</label><br />
                                    <input type="radio" name="{{this.QuesID}}" value="2" required>
                                    <label class="radio-label" for="">{{this.Option2}}</label><br />
                                    <input type="radio" name="{{this.QuesID}}" value="3" required>
                                    <label class="radio-label" for="">{{this.Option3}}</label><br />
                                </div>
                            </div>
                            {{/each}}
                            <button type="submit" class="btn btn-success btn-lg mb-1 buttonS">Submit</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>